
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <p>
        <center>
            
    </center>
</head>
<body>

    <div class="container">

        <br>
        <br>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <div class="container">

                <br>
                <br>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/Img/Bienve.jpg" style="width:100%;">
                            <p>
                                Brindamos una variedad de productos de aseo personal, cuidado e higiene, que van desde artículos
                                de cuidado capilar, productos de cuidado corporal, hasta productos de cuidado dental y más, con el objetivo de
                                satisfacer.
                            </p>
                        </div>

                        <div class="item">
                            <img src="~/Img/Descue.jpg" style="width:100%;">
                            <h5>No olvides informar a los clientes de los grandes descuentos que tenemos.</h5>

                        </div>

                        <div class="item">
                            <img src="~/Img/Hogar.jpg" style="width:100%;">
                            <h5>PRODUCTOS DE ASEO PARA EL HOGAR</h5>
                            <p>
                                Ofrecemos soluciones de limpieza de alta calidad diseñadas para satisfacer las necesidades de limpieza
                                de su hogar. Nuestra gama de productos incluye detergentes, desinfectantes, limpiadores multiusos,
                                productos para el cuidado de pisos y superficies, así como una selección de artículos para el cuidado
                                de la ropa.
                            </p>
                        </div>
                        <div class="item">
                            <img src="~/Img/Personal.jpg" style="width:100%;">
                            <h5>PRODUCTOS DE CUIDADO PERSONAL</h5>
                            <p>
                                Nuestra selección incluye productos para el cuidado del cabello, como champús y acondicionadores de
                                diversas marcas y formulaciones, así como productos para el cuidado de la piel, incluyendo lociones,
                                cremas y productos de cuidado facial para mantener una piel saludable y radiante. Además, ofrecemos una
                                gama de productos de higiene personal, como jabones, geles de ducha y desodorantes, para que se sienta
                                fresco y confiado en su día a día. Ofrecemos soluciones de limpieza de alta calidad diseñadas para satisfacer las necesidades de limpieza
                                de su hogar.
                            </p>

                        </div>
                        <div class="item">
                            <img src="~/Img/Varios.jpg" style="width:100%;">
                            <h5>PRODUCTOS VARIOS DE ASEO</h5>
                            <p>
                                Nuestra selección de productos de varios incluye contenedores,
                                bolsas de basura y soluciones de reciclaje diseñadas para promover prácticas de
                                eliminación de residuos responsables.


                            </p>

                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

</body>
</html>

